@import "tailwindcss";

.hero {
    min-height: calc(100vh - 68px);
}

button {
  cursor: pointer;
}

/* :root {
  --bg-primary: #FFFFFF;   
  --button-bg: #EDEDED; 
  --text-primary: #000000; 
  --custom-bg-color: #1F2937
}

.dark {
  --bg-primary: #181A20;     
  --text-primary: #ffffff;  
  --button-bg: #29313D;  
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
.custom {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.custom-div {
  background-color: var(--custom-bg-color);
} */


/* ******************************************** */

 :root {
      --primary: #B8860B;
      --secondary: #DAA520;
      --accent: #FFD700;
      --background: #f3f4f6;
      --card: #FFFFFF;
      --cardsec:#F9FAFB;
      --text: #1F2937;
      --border: #E5E7EB;
    }
.dark {
      --primary: #B8860B;
      --secondary: #DAA520;
      --accent: #FDE68A;
      --background: #111827;
      /* --background-gradient: linear-gradient(to bottom, #111827, #1f2937, #111827, #111827); */
      --card: #111827;
      --cardsec:#374151;
      --text: #F3F4F6;
      --border: #4B5563;
    }


body {
  background-color: var(--background);
  color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
} 